 .u-section-1 {
  min-height: 4628px;
}

.u-section-1 .u-image-1 {
  height: 537px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 1140px;
  height: 398px;
  margin: 85px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 27px -30px 0 calc(((100% - 1140px) / 2) + 847px);
}

.u-section-1 .u-text-2 {
  margin: -22px calc(((100% - 1140px) / 2) + -35px) 0 calc(((100% - 1140px) / 2) + 854px);
}

.u-section-1 .u-text-3 {
  margin: -186px calc(((100% - 1140px) / 2) + 854px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-4 {
  margin: -72px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-5 {
  margin: -347px calc(((100% - 1140px) / 2) + 399px) 0 calc(((100% - 1140px) / 2) + 444px);
}

.u-section-1 .u-text-6 {
  margin: 20px 154px 0 calc(((100% - 1140px) / 2) + 847px);
}

.u-section-1 .u-text-7 {
  margin: -101px auto 0 calc(((100% - 1140px) / 2) + 441px);
}

.u-section-1 .u-group-1 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: 19px auto 0 calc(((100% - 1140px) / 2) + 439px);
}

.u-section-1 .u-text-8 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -52px calc(((100% - 1140px) / 2) + 172px) 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-3 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px auto 0 calc(((100% - 1140px) / 2) + -25px);
}

.u-section-1 .u-text-10 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 1167px;
  height: 414px;
  margin: 53px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 25px 25px 0 915px;
}

.u-section-1 .u-text-12 {
  margin: -350px 915px 0 25px;
}

.u-section-1 .u-text-13 {
  margin: -336px 449px 0 491px;
}

.u-section-1 .u-group-4 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 426px);
}

.u-section-1 .u-text-14 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-5 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px auto 0 calc(((100% - 1140px) / 2) + -35px);
}

.u-section-1 .u-text-15 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-6 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px auto 0 915px;
}

.u-section-1 .u-text-16 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 1168px;
  height: 399px;
  margin: 88px auto 0;
}

.u-section-1 .u-text-17 {
  margin: 46px 904px 0 36px;
}

.u-section-1 .u-text-18 {
  width: 289px;
  margin: -336px auto 0;
}

.u-section-1 .u-text-19 {
  margin: -196px calc(((100% - 1140px) / 2) + -13px) 0 calc(((100% - 1140px) / 2) + 865px);
}

.u-section-1 .u-text-20 {
  margin: 16px 526px 0 476px;
}

.u-section-1 .u-text-21 {
  margin: -112px calc(((100% - 1140px) / 2) + 38px) 0 calc(((100% - 1140px) / 2) + 865px);
}

.u-section-1 .u-group-7 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: 68px auto 0 36px;
}

.u-section-1 .u-text-22 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-8 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px auto 0 463px;
}

.u-section-1 .u-text-23 {
  margin: -43px 647px 0 475px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-9 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -43px calc(((100% - 1140px) / 2) + 172px) 0 auto;
}

.u-section-1 .u-text-24 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 1168px;
  height: 433px;
  margin: 75px auto 0;
}

.u-section-1 .u-text-25 {
  margin: 19px calc(((100% - 1140px) / 2) + -25px) 0 calc(((100% - 1140px) / 2) + 877px);
}

.u-section-1 .u-text-26 {
  width: 289px;
  margin: -252px calc(((100% - 1140px) / 2) + 426px) 0;
}

.u-section-1 .u-text-27 {
  margin: -220px calc(((100% - 1140px) / 2) + 854px) 0 calc(((100% - 1140px) / 2) + -14px);
}

.u-section-1 .u-text-28 {
  margin: -44px calc(((100% - 1140px) / 2) + 477px) 0 calc(((100% - 1140px) / 2) + 425px);
}

.u-section-1 .u-text-29 {
  margin: -112px calc(((100% - 1140px) / 2) + 38px) 0 calc(((100% - 1140px) / 2) + 865px);
}

.u-section-1 .u-group-10 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: 68px auto 0 calc(((100% - 1140px) / 2) + 413px);
}

.u-section-1 .u-text-30 {
  margin: 0 1px 0 12px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-11 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px calc(((100% - 1140px) / 2) + 155px) 0 auto;
}

.u-section-1 .u-text-31 {
  margin: 0 1px 0 12px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-12 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px auto 60px calc(((100% - 1140px) / 2) + -35px);
}

.u-section-1 .u-text-32 {
  margin: 0 1px 0 12px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 4314px;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 328px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 698px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + -35px);
    margin-left: calc(((100% - 940px) / 2) + 754px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 654px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 299px);
    margin-left: calc(((100% - 940px) / 2) + 344px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 940px) / 2) + 698px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 940px) / 2) + 364px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 439px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2) + 172px);
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 940px) / 2) + -25px);
    height: auto;
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 333px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 740px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 740px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 349px;
    margin-left: 391px;
  }

  .u-section-1 .u-group-4 {
    margin-left: calc(((100% - 940px) / 2) + 426px);
    height: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: 326px;
    margin-left: 497px;
  }

  .u-section-1 .u-group-5 {
    margin-left: calc(((100% - 940px) / 2) + -35px);
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-left: 809px;
    height: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: 326px;
    margin-left: 497px;
  }

  .u-section-1 .u-image-4 {
    width: 940px;
    height: 321px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 740px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: -252px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -280px;
    margin-right: calc(((100% - 940px) / 2) + -13px);
    margin-left: calc(((100% - 940px) / 2) + 765px);
  }

  .u-section-1 .u-text-20 {
    margin-right: 426px;
    margin-left: 376px;
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 703px);
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-text-22 {
    margin-right: 326px;
    margin-left: 497px;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-text-23 {
    margin-right: 547px;
    margin-left: 375px;
  }

  .u-section-1 .u-group-9 {
    margin-right: calc(((100% - 940px) / 2) + 172px);
    height: auto;
  }

  .u-section-1 .u-text-24 {
    margin-right: 326px;
    margin-left: 497px;
  }

  .u-section-1 .u-image-5 {
    width: 940px;
    height: 348px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 103px;
    margin-right: calc(((100% - 940px) / 2) + -25px);
    margin-left: calc(((100% - 940px) / 2) + 777px);
  }

  .u-section-1 .u-text-26 {
    margin-left: calc(((100% - 940px) / 2) + 326px);
    margin-right: calc(((100% - 940px) / 2) + 326px);
  }

  .u-section-1 .u-text-27 {
    margin-top: -444px;
    margin-right: calc(((100% - 940px) / 2) + 754px);
    margin-left: calc(((100% - 940px) / 2) + -14px);
  }

  .u-section-1 .u-text-28 {
    margin-top: 96px;
    margin-right: calc(((100% - 940px) / 2) + 377px);
    margin-left: calc(((100% - 940px) / 2) + 325px);
  }

  .u-section-1 .u-text-29 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 703px);
  }

  .u-section-1 .u-group-10 {
    margin-left: calc(((100% - 940px) / 2) + 413px);
    height: auto;
  }

  .u-section-1 .u-group-11 {
    margin-right: calc(((100% - 940px) / 2) + 155px);
    height: auto;
  }

  .u-section-1 .u-group-12 {
    margin-bottom: -13px;
    margin-left: calc(((100% - 940px) / 2) + -35px);
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 4003px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 251px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 535px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + -35px);
    margin-left: calc(((100% - 720px) / 2) + 644px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 434px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 189px);
    margin-left: calc(((100% - 720px) / 2) + 234px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2) + 535px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2) + 279px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 439px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 255px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 520px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 520px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 239px;
    margin-left: 281px;
  }

  .u-section-1 .u-group-4 {
    margin-left: calc(((100% - 720px) / 2) + 426px);
  }

  .u-section-1 .u-text-14 {
    margin-right: 216px;
    margin-left: 387px;
  }

  .u-section-1 .u-group-5 {
    margin-left: calc(((100% - 720px) / 2) + -35px);
  }

  .u-section-1 .u-group-6 {
    margin-left: 589px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 216px;
    margin-left: 387px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 246px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 520px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 196px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -728px;
    margin-right: calc(((100% - 720px) / 2) + -13px);
    margin-left: calc(((100% - 720px) / 2) + 655px);
  }

  .u-section-1 .u-text-20 {
    margin-right: 316px;
    margin-left: 266px;
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 483px);
  }

  .u-section-1 .u-text-22 {
    margin-right: 216px;
    margin-left: 387px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 437px;
    margin-left: 265px;
  }

  .u-section-1 .u-group-9 {
    margin-right: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-text-24 {
    margin-right: 216px;
    margin-left: 387px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 267px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 579px;
    margin-right: calc(((100% - 720px) / 2) + -25px);
    margin-left: calc(((100% - 720px) / 2) + 667px);
  }

  .u-section-1 .u-text-26 {
    margin-left: calc(((100% - 720px) / 2) + 216px);
    margin-right: calc(((100% - 720px) / 2) + 216px);
  }

  .u-section-1 .u-text-27 {
    margin-top: -1452px;
    margin-right: calc(((100% - 720px) / 2) + 644px);
    margin-left: calc(((100% - 720px) / 2) + -14px);
  }

  .u-section-1 .u-text-28 {
    margin-top: 628px;
    margin-right: calc(((100% - 720px) / 2) + 267px);
    margin-left: calc(((100% - 720px) / 2) + 215px);
  }

  .u-section-1 .u-text-29 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 483px);
  }

  .u-section-1 .u-group-10 {
    margin-left: calc(((100% - 720px) / 2) + 413px);
  }

  .u-section-1 .u-group-11 {
    margin-right: calc(((100% - 720px) / 2) + 155px);
  }

  .u-section-1 .u-group-12 {
    margin-left: calc(((100% - 720px) / 2) + -35px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3748px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 188px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 401px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + -35px);
    margin-left: calc(((100% - 540px) / 2) + 554px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 254px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 99px);
    margin-left: calc(((100% - 540px) / 2) + 144px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 540px) / 2) + 401px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 540px) / 2) + 209px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 409px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 540px) / 2) + 172px);
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 540px) / 2) + -25px);
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 191px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 340px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 149px;
    margin-left: 191px;
  }

  .u-section-1 .u-group-4 {
    margin-left: calc(((100% - 540px) / 2) + 409px);
  }

  .u-section-1 .u-text-14 {
    margin-right: 126px;
    margin-left: 297px;
  }

  .u-section-1 .u-group-5 {
    margin-left: calc(((100% - 540px) / 2) + -35px);
  }

  .u-section-1 .u-group-6 {
    margin-left: 409px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 126px;
    margin-left: 297px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 185px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 3090px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -3601px;
    margin-right: calc(((100% - 540px) / 2) + -13px);
    margin-left: calc(((100% - 540px) / 2) + 565px);
  }

  .u-section-1 .u-text-20 {
    margin-top: -5px;
    margin-right: 226px;
    margin-left: 176px;
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 303px);
  }

  .u-section-1 .u-text-22 {
    margin-right: 126px;
    margin-left: 297px;
  }

  .u-section-1 .u-group-8 {
    margin-left: 409px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 347px;
    margin-left: 175px;
  }

  .u-section-1 .u-group-9 {
    margin-right: calc(((100% - 540px) / 2) + 172px);
  }

  .u-section-1 .u-text-24 {
    margin-right: 126px;
    margin-left: 297px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 200px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 4883px;
    margin-right: calc(((100% - 540px) / 2) + -25px);
    margin-left: calc(((100% - 540px) / 2) + 577px);
  }

  .u-section-1 .u-text-26 {
    margin-left: calc(((100% - 540px) / 2) + 126px);
    margin-right: calc(((100% - 540px) / 2) + 126px);
  }

  .u-section-1 .u-text-27 {
    margin-top: -9258px;
    margin-right: calc(((100% - 540px) / 2) + 554px);
    margin-left: calc(((100% - 540px) / 2) + -14px);
  }

  .u-section-1 .u-text-28 {
    margin-top: 4130px;
    margin-right: calc(((100% - 540px) / 2) + 177px);
    margin-left: calc(((100% - 540px) / 2) + 125px);
  }

  .u-section-1 .u-text-29 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 303px);
  }

  .u-section-1 .u-group-10 {
    margin-left: calc(((100% - 540px) / 2) + 409px);
  }

  .u-section-1 .u-group-11 {
    margin-right: calc(((100% - 540px) / 2) + 155px);
  }

  .u-section-1 .u-group-12 {
    margin-left: calc(((100% - 540px) / 2) + -35px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3464px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 118px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 252px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + -35px);
    margin-left: calc(((100% - 340px) / 2) + 454px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 54px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 43px);
  }

  .u-section-1 .u-text-6 {
    margin-right: 97px;
    margin-left: calc(((100% - 340px) / 2) + 252px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 340px) / 2) + 132px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 340px) / 2) + 172px);
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 340px) / 2) + -25px);
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 120px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 140px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 49px;
    margin-left: 91px;
  }

  .u-section-1 .u-group-4 {
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-1 .u-text-14 {
    margin-right: 26px;
    margin-left: 197px;
  }

  .u-section-1 .u-group-5 {
    margin-left: calc(((100% - 340px) / 2) + -35px);
  }

  .u-section-1 .u-group-6 {
    margin-left: 209px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 26px;
    margin-left: 197px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 116px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 140px;
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 340px) / 2) + -13px);
    margin-left: calc(((100% - 340px) / 2) + 465px);
  }

  .u-section-1 .u-text-20 {
    margin-right: 126px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 103px);
  }

  .u-section-1 .u-text-22 {
    margin-right: 26px;
    margin-left: 197px;
  }

  .u-section-1 .u-group-8 {
    margin-left: 209px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 247px;
    margin-left: 75px;
  }

  .u-section-1 .u-group-9 {
    margin-right: calc(((100% - 340px) / 2) + 172px);
  }

  .u-section-1 .u-text-24 {
    margin-right: 26px;
    margin-left: 197px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 126px;
  }

  .u-section-1 .u-text-25 {
    margin-right: calc(((100% - 340px) / 2) + -25px);
    margin-left: calc(((100% - 340px) / 2) + 477px);
  }

  .u-section-1 .u-text-26 {
    margin-left: calc(((100% - 340px) / 2) + 26px);
    margin-right: calc(((100% - 340px) / 2) + 26px);
  }

  .u-section-1 .u-text-27 {
    margin-right: calc(((100% - 340px) / 2) + 454px);
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-text-28 {
    margin-right: calc(((100% - 340px) / 2) + 77px);
    margin-left: calc(((100% - 340px) / 2) + 25px);
  }

  .u-section-1 .u-text-29 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 103px);
  }

  .u-section-1 .u-group-10 {
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-1 .u-group-11 {
    margin-right: calc(((100% - 340px) / 2) + 155px);
  }

  .u-section-1 .u-group-12 {
    margin-left: calc(((100% - 340px) / 2) + -35px);
  }
} .u-section-2 {
  min-height: 399px;
}

.u-section-2 .u-group-1 {
  background-image: none;
  height: auto;
  min-height: 397px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 30px;
}

.u-section-2 .u-group-elements-1 {
  width: 1090px;
  min-height: 324px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 669px 0 7px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 200px;
  margin: 16px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -168px 0 0 601px;
}

.u-section-2 .u-image-2 {
  width: 192px;
  height: 47px;
  margin: -56px 297px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 57px 526px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-elements-1 {
    width: 880px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-elements-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 520px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-elements-1 {
    width: 320px;
  }
}