 .u-section-1 {
  min-height: 4886px;
}

.u-section-1 .u-image-1 {
  height: 539px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 1189px;
  height: 405px;
  margin: 122px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 27px calc(((100% - 1140px) / 2) + -27px) 0 calc(((100% - 1140px) / 2) + 881px);
}

.u-section-1 .u-text-2 {
  margin: -196px calc(((100% - 1140px) / 2) + 875px) 0 calc(((100% - 1140px) / 2) + -25px);
}

.u-section-1 .u-text-3 {
  margin: -187px calc(((100% - 1140px) / 2) + 423px) 0 calc(((100% - 1140px) / 2) + 435px);
}

.u-section-1 .u-text-4 {
  margin: -127px 371px 0 calc(((100% - 1140px) / 2) + 762px);
}

.u-section-1 .u-text-5 {
  margin: 133px calc(((100% - 1140px) / 2) + 31px) 0 calc(((100% - 1140px) / 2) + 879px);
}

.u-section-1 .u-text-6 {
  margin: -84px auto 0 calc(((100% - 1140px) / 2) + -25px);
}

.u-section-1 .u-text-7 {
  margin: -84px auto 0 calc(((100% - 1140px) / 2) + 427px);
}

.u-section-1 .u-group-1 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: 81px auto 0 calc(((100% - 1140px) / 2) + 414px);
}

.u-section-1 .u-text-8 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px calc(((100% - 1140px) / 2) + 149px) 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-3 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px auto 0 calc(((100% - 1140px) / 2) + -25px);
}

.u-section-1 .u-text-10 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 1189px;
  height: 405px;
  margin: 67px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 14px calc(((100% - 1140px) / 2) + -25px) 0 calc(((100% - 1140px) / 2) + 883px);
}

.u-section-1 .u-text-12 {
  width: 290px;
  margin: -209px auto 0;
}

.u-section-1 .u-text-13 {
  margin: -168px calc(((100% - 1140px) / 2) + 875px) 0 calc(((100% - 1140px) / 2) + -25px);
}

.u-section-1 .u-text-14 {
  margin: -10px calc(((100% - 1140px) / 2) + -21px) 0 calc(((100% - 1140px) / 2) + 883px);
}

.u-section-1 .u-text-15 {
  width: 278px;
  margin: -81px auto 0;
}

.u-section-1 .u-text-16 {
  margin: -58px calc(((100% - 1140px) / 2) + 887px) 0 calc(((100% - 1140px) / 2) + -25px);
}

.u-section-1 .u-group-4 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: 41px auto 0 calc(((100% - 1140px) / 2) + 425px);
}

.u-section-1 .u-text-17 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-5 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px calc(((100% - 1140px) / 2) + 126px) 0 auto;
}

.u-section-1 .u-text-18 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-6 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px auto 0 calc(((100% - 1140px) / 2) + -25px);
}

.u-section-1 .u-text-19 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 1196px;
  height: 409px;
  margin: 59px auto 0;
}

.u-section-1 .u-text-20 {
  margin: 25px calc(((100% - 1140px) / 2) + -25px) 0 calc(((100% - 1140px) / 2) + 883px);
}

.u-section-1 .u-text-21 {
  margin: -6px calc(((100% - 1140px) / 2) + 34px) 0 calc(((100% - 1140px) / 2) + 879px);
}

.u-section-1 .u-text-22 {
  width: 289px;
  margin: -324px auto 0;
}

.u-section-1 .u-text-23 {
  margin: -166px calc(((100% - 1140px) / 2) + 875px) 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-text-24 {
  margin: 8px calc(((100% - 1140px) / 2) + 499px) 0 calc(((100% - 1140px) / 2) + 414px);
}

.u-section-1 .u-text-25 {
  margin: -84px calc(((100% - 1140px) / 2) + 910px) 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-group-7 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: 53px auto 0 calc(((100% - 1140px) / 2) + 414px);
}

.u-section-1 .u-text-26 {
  margin: 14px 0 0 11px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-8 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px calc(((100% - 1140px) / 2) + 139px) 0 auto;
}

.u-section-1 .u-text-27 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-9 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -47px auto 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-text-28 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 1198px;
  height: 410px;
  margin: 57px auto 0;
}

.u-section-1 .u-text-29 {
  margin: 25px calc(((100% - 1140px) / 2) + -35px) 0 calc(((100% - 1140px) / 2) + 873px);
}

.u-section-1 .u-text-30 {
  margin: -216px calc(((100% - 1140px) / 2) + 880px) 0 calc(((100% - 1140px) / 2) + -32px);
}

.u-section-1 .u-text-31 {
  width: 293px;
  margin: -252px auto 0;
}

.u-section-1 .u-text-32 {
  margin: 62px 122px 0 calc(((100% - 1140px) / 2) + 879px);
}

.u-section-1 .u-text-33 {
  margin: -81px auto 0 calc(((100% - 1140px) / 2) + 414px);
}

.u-section-1 .u-text-34 {
  margin: -41px auto 0 calc(((100% - 1140px) / 2) + -32px);
}

.u-section-1 .u-group-10 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: 41px calc(((100% - 1140px) / 2) + 149px) 0 auto;
}

.u-section-1 .u-text-35 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-11 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px auto 0 calc(((100% - 1140px) / 2) + 414px);
}

.u-section-1 .u-text-36 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-12 {
  height: auto;
  background-image: none;
  width: 131px;
  min-height: 58px;
  margin: -58px auto 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-text-37 {
  margin: 15px 0 0 14px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-13 {
  background-image: none;
  height: auto;
  min-height: 397px;
  margin-top: 130px;
  margin-bottom: 7px;
}

.u-section-1 .u-container-layout-13 {
  padding: 14px 30px;
}

.u-section-1 .u-group-elements-1 {
  width: 1090px;
  min-height: 324px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-text-38 {
  font-size: 2.25rem;
  margin: 0 669px 0 7px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 200px;
  margin: 16px auto 0 0;
}

.u-section-1 .u-text-39 {
  margin: -168px 0 0 601px;
}

.u-section-1 .u-image-7 {
  width: 192px;
  height: 47px;
  margin: -56px 297px 0 auto;
}

.u-section-1 .u-text-40 {
  font-size: 1.5rem;
  margin: 57px 526px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 4540px;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 320px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + -27px);
    margin-left: calc(((100% - 940px) / 2) + 781px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 775px);
    margin-left: calc(((100% - 940px) / 2) + -25px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 323px);
    margin-left: calc(((100% - 940px) / 2) + 335px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 306px;
    margin-left: calc(((100% - 940px) / 2) + 628px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 710px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 940px) / 2) + -25px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 940px) / 2) + 352px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 414px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2) + 149px);
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 940px) / 2) + -25px);
    height: auto;
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 320px;
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2) + -25px);
    margin-left: calc(((100% - 940px) / 2) + 783px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 775px);
    margin-left: calc(((100% - 940px) / 2) + -25px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 940px) / 2) + -21px);
    margin-left: calc(((100% - 940px) / 2) + 783px);
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 940px) / 2) + 787px);
    margin-left: calc(((100% - 940px) / 2) + -25px);
  }

  .u-section-1 .u-group-4 {
    margin-left: calc(((100% - 940px) / 2) + 425px);
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-right: calc(((100% - 940px) / 2) + 126px);
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-left: calc(((100% - 940px) / 2) + -25px);
    height: auto;
  }

  .u-section-1 .u-image-4 {
    width: 940px;
    height: 321px;
  }

  .u-section-1 .u-text-20 {
    margin-right: calc(((100% - 940px) / 2) + -25px);
    margin-left: calc(((100% - 940px) / 2) + 783px);
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 713px);
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 940px) / 2) + 775px);
    margin-left: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-text-24 {
    margin-right: calc(((100% - 940px) / 2) + 399px);
    margin-left: calc(((100% - 940px) / 2) + 314px);
  }

  .u-section-1 .u-text-25 {
    margin-right: calc(((100% - 940px) / 2) + 810px);
    margin-left: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-group-7 {
    margin-left: calc(((100% - 940px) / 2) + 414px);
    height: auto;
  }

  .u-section-1 .u-group-8 {
    margin-right: calc(((100% - 940px) / 2) + 139px);
    height: auto;
  }

  .u-section-1 .u-text-27 {
    margin-right: 326px;
    margin-left: 497px;
  }

  .u-section-1 .u-group-9 {
    margin-left: calc(((100% - 940px) / 2) + -28px);
    height: auto;
  }

  .u-section-1 .u-text-28 {
    margin-right: 326px;
    margin-left: 497px;
  }

  .u-section-1 .u-image-5 {
    width: 940px;
    height: 322px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 1805px;
    margin-right: calc(((100% - 940px) / 2) + -35px);
    margin-left: calc(((100% - 940px) / 2) + 773px);
  }

  .u-section-1 .u-text-30 {
    margin-top: -252px;
    margin-right: calc(((100% - 940px) / 2) + 780px);
    margin-left: calc(((100% - 940px) / 2) + -32px);
  }

  .u-section-1 .u-text-31 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-32 {
    margin-top: -951px;
    margin-left: calc(((100% - 940px) / 2) + 725px);
  }

  .u-section-1 .u-text-33 {
    margin-top: -1384px;
    margin-left: calc(((100% - 940px) / 2) + 341px);
  }

  .u-section-1 .u-text-34 {
    margin-top: -121px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-10 {
    margin-top: 1354px;
    margin-right: calc(((100% - 940px) / 2) + 149px);
    height: auto;
  }

  .u-section-1 .u-group-11 {
    margin-top: 1159px;
    margin-bottom: -789px;
    margin-left: calc(((100% - 940px) / 2) + 414px);
    height: auto;
  }

  .u-section-1 .u-group-12 {
    margin-top: 1159px;
    margin-bottom: -789px;
    margin-left: calc(((100% - 940px) / 2) + -28px);
    height: auto;
  }

  .u-section-1 .u-group-13 {
    height: auto;
  }

  .u-section-1 .u-group-elements-1 {
    width: 880px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 4240px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 245px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + -27px);
    margin-left: calc(((100% - 720px) / 2) + 671px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 665px);
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 213px);
    margin-left: calc(((100% - 720px) / 2) + 225px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 234px;
    margin-left: calc(((100% - 720px) / 2) + 481px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 490px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 414px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 720px) / 2) + 149px);
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 245px;
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2) + -25px);
    margin-left: calc(((100% - 720px) / 2) + 673px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2) + 665px);
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2) + -21px);
    margin-left: calc(((100% - 720px) / 2) + 673px);
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 720px) / 2) + 677px);
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-1 .u-group-4 {
    margin-left: calc(((100% - 720px) / 2) + 425px);
  }

  .u-section-1 .u-group-5 {
    margin-right: calc(((100% - 720px) / 2) + 126px);
  }

  .u-section-1 .u-group-6 {
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 246px;
  }

  .u-section-1 .u-text-20 {
    margin-right: calc(((100% - 720px) / 2) + -25px);
    margin-left: calc(((100% - 720px) / 2) + 673px);
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 493px);
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 720px) / 2) + 665px);
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-text-24 {
    margin-right: calc(((100% - 720px) / 2) + 289px);
    margin-left: calc(((100% - 720px) / 2) + 204px);
  }

  .u-section-1 .u-text-25 {
    margin-right: calc(((100% - 720px) / 2) + 700px);
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-group-7 {
    margin-left: calc(((100% - 720px) / 2) + 414px);
  }

  .u-section-1 .u-group-8 {
    margin-right: calc(((100% - 720px) / 2) + 139px);
  }

  .u-section-1 .u-text-27 {
    margin-right: 216px;
    margin-left: 387px;
  }

  .u-section-1 .u-group-9 {
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-text-28 {
    margin-right: 216px;
    margin-left: 387px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 247px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 2057px;
    margin-right: calc(((100% - 720px) / 2) + -35px);
    margin-left: calc(((100% - 720px) / 2) + 663px);
  }

  .u-section-1 .u-text-30 {
    margin-top: -840px;
    margin-right: calc(((100% - 720px) / 2) + 670px);
    margin-left: calc(((100% - 720px) / 2) + -32px);
  }

  .u-section-1 .u-text-31 {
    margin-top: -114px;
  }

  .u-section-1 .u-text-32 {
    margin-top: -1309px;
    margin-left: calc(((100% - 720px) / 2) + 555px);
  }

  .u-section-1 .u-text-33 {
    margin-left: calc(((100% - 720px) / 2) + 261px);
  }

  .u-section-1 .u-text-34 {
    margin-top: -204px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-10 {
    margin-top: 1438px;
    margin-right: calc(((100% - 720px) / 2) + 149px);
  }

  .u-section-1 .u-group-11 {
    margin-bottom: -369px;
    margin-left: calc(((100% - 720px) / 2) + 414px);
  }

  .u-section-1 .u-group-12 {
    margin-bottom: -369px;
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-group-elements-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3995px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 184px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + -27px);
    margin-left: calc(((100% - 540px) / 2) + 581px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 575px);
    margin-left: calc(((100% - 540px) / 2) + -25px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 123px);
    margin-left: calc(((100% - 540px) / 2) + 135px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 176px;
    margin-left: calc(((100% - 540px) / 2) + 361px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 310px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 540px) / 2) + -25px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 540px) / 2) + 203px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 409px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 540px) / 2) + 149px);
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 540px) / 2) + -25px);
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 184px;
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2) + -25px);
    margin-left: calc(((100% - 540px) / 2) + 583px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2) + 575px);
    margin-left: calc(((100% - 540px) / 2) + -25px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2) + -21px);
    margin-left: calc(((100% - 540px) / 2) + 583px);
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 540px) / 2) + 587px);
    margin-left: calc(((100% - 540px) / 2) + -25px);
  }

  .u-section-1 .u-group-4 {
    margin-left: calc(((100% - 540px) / 2) + 409px);
  }

  .u-section-1 .u-group-5 {
    margin-right: calc(((100% - 540px) / 2) + 126px);
  }

  .u-section-1 .u-group-6 {
    margin-left: calc(((100% - 540px) / 2) + -25px);
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 185px;
  }

  .u-section-1 .u-text-20 {
    margin-right: calc(((100% - 540px) / 2) + -25px);
    margin-left: calc(((100% - 540px) / 2) + 583px);
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 313px);
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 540px) / 2) + 575px);
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-text-24 {
    margin-right: calc(((100% - 540px) / 2) + 199px);
    margin-left: calc(((100% - 540px) / 2) + 114px);
  }

  .u-section-1 .u-text-25 {
    margin-right: calc(((100% - 540px) / 2) + 610px);
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-group-7 {
    margin-left: calc(((100% - 540px) / 2) + 409px);
  }

  .u-section-1 .u-group-8 {
    margin-right: calc(((100% - 540px) / 2) + 139px);
  }

  .u-section-1 .u-text-27 {
    margin-right: 126px;
    margin-left: 297px;
  }

  .u-section-1 .u-group-9 {
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-text-28 {
    margin-right: 126px;
    margin-left: 297px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 185px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 1712px;
    margin-right: calc(((100% - 540px) / 2) + -35px);
    margin-left: calc(((100% - 540px) / 2) + 573px);
  }

  .u-section-1 .u-text-30 {
    margin-top: -5550px;
    margin-right: calc(((100% - 540px) / 2) + 580px);
    margin-left: calc(((100% - 540px) / 2) + -32px);
  }

  .u-section-1 .u-text-31 {
    margin-top: -3508px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 14px;
    margin-left: calc(((100% - 540px) / 2) + 416px);
  }

  .u-section-1 .u-text-33 {
    margin-top: -1356px;
    margin-left: calc(((100% - 540px) / 2) + 196px);
  }

  .u-section-1 .u-text-34 {
    margin-top: -184px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-10 {
    margin-top: 166px;
    margin-right: calc(((100% - 540px) / 2) + 149px);
  }

  .u-section-1 .u-group-11 {
    margin-bottom: 0;
    margin-left: calc(((100% - 540px) / 2) + 409px);
  }

  .u-section-1 .u-group-12 {
    margin-bottom: 0;
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 520px;
  }

  .u-section-1 .u-text-38 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-40 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3721px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 116px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + -27px);
    margin-left: calc(((100% - 340px) / 2) + 481px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 475px);
    margin-left: calc(((100% - 340px) / 2) + -25px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 23px);
    margin-left: calc(((100% - 340px) / 2) + 35px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 111px;
    margin-left: calc(((100% - 340px) / 2) + 227px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 110px);
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 340px) / 2) + -25px);
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 340px) / 2) + 128px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 340px) / 2) + 149px);
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 340px) / 2) + -25px);
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 116px;
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2) + -25px);
    margin-left: calc(((100% - 340px) / 2) + 483px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 340px) / 2) + 475px);
    margin-left: calc(((100% - 340px) / 2) + -25px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 340px) / 2) + -21px);
    margin-left: calc(((100% - 340px) / 2) + 483px);
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 340px) / 2) + 487px);
    margin-left: calc(((100% - 340px) / 2) + -25px);
  }

  .u-section-1 .u-group-4 {
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-1 .u-group-5 {
    margin-right: calc(((100% - 340px) / 2) + 126px);
  }

  .u-section-1 .u-group-6 {
    margin-left: calc(((100% - 340px) / 2) + -25px);
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 116px;
  }

  .u-section-1 .u-text-20 {
    margin-right: calc(((100% - 340px) / 2) + -25px);
    margin-left: calc(((100% - 340px) / 2) + 483px);
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 113px);
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 340px) / 2) + 475px);
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-text-24 {
    margin-right: calc(((100% - 340px) / 2) + 99px);
    margin-left: calc(((100% - 340px) / 2) + 14px);
  }

  .u-section-1 .u-text-25 {
    margin-right: calc(((100% - 340px) / 2) + 510px);
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-group-7 {
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-1 .u-group-8 {
    margin-right: calc(((100% - 340px) / 2) + 139px);
  }

  .u-section-1 .u-text-27 {
    margin-right: 26px;
    margin-left: 197px;
  }

  .u-section-1 .u-group-9 {
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-text-28 {
    margin-right: 26px;
    margin-left: 197px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 116px;
  }

  .u-section-1 .u-text-29 {
    margin-right: calc(((100% - 340px) / 2) + -35px);
    margin-left: calc(((100% - 340px) / 2) + 473px);
  }

  .u-section-1 .u-text-30 {
    margin-right: calc(((100% - 340px) / 2) + 480px);
    margin-left: calc(((100% - 340px) / 2) + -32px);
  }

  .u-section-1 .u-text-32 {
    margin-right: 77px;
    margin-left: calc(((100% - 340px) / 2) + 262px);
  }

  .u-section-1 .u-text-33 {
    margin-left: calc(((100% - 340px) / 2) + 123px);
  }

  .u-section-1 .u-text-34 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-10 {
    margin-right: calc(((100% - 340px) / 2) + 149px);
  }

  .u-section-1 .u-group-11 {
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-1 .u-group-12 {
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-group-elements-1 {
    width: 320px;
  }
}